* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header {
  padding: 10px;
  border-bottom: 2px solid black;
  background-color: rgba(64, 168, 164, 0.9);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.header-left {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header-title {
  flex: 2;
  text-align: right;
  color: rgba(255, 255, 255, 0.75);
}

.header-right {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-right button {
  display: none;
}

.header-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header-right ul li {
  margin-left: 20px;
}

.header-right ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
}

.header-right ul li a:hover {
  font-weight: bold;
  padding: 5px;
  font-size: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

.header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
}

/* Styles pour les petits écrans */
@media (max-width: 768px) {
  .header {
    padding: 10px;
  }

  .header-right {
    flex: 1;
  }

  .header-right button {
    display: block;
    border: none;
    background: none;
    font-size: 36px;
  }

  mat-icon {
    color: rgba(255, 255, 255, 0.75);
  }

  .header-right ul {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgba(64, 168, 164, 0.9);
    right: 20px;
    top: 60px;
    width: 300px;
    z-index: 10;
  }

  .header-right ul.active {
    display: flex;
  }

  .header-right ul li a {
    color: black;
    text-decoration: none;
    padding: 10px;
  }
}

/*corp*/
.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* ssecurité automobile:section1**/
.content {
  background-color: rgb(245, 245, 245);
  width: 100%;
  padding: 80px;
}

@media (max-width: 800px) {
  .content {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    padding: 0;
    height: 30vh;
    width: 98%;
  }

  .securite-video {
    padding: 0;
    position: relative;
    width: 100%;
    height: 25vh;
  }

  .full-width-video {
    border: 1px solid #0724e0;
    width: 60%;
    height: 90%;
  }

  .content .titl h1, .content .titl h2 {
    font-size: 1.3rem;
  }
  .btn {
    width: 100%;
  }
}

.securite-video {
  padding: 10px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.full-width-video {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 25px;
}

.btn {
  width: 100%;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: rgba(64, 168, 164, 0.75);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}


.btn button a {
  text-decoration: none;
  color: white;
}

#section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.content .titl h1 {
  color: #0724e0;
}

.footer {
  margin-top: auto;
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

#section2 {
  background-color: #f9f9f9;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: auto;
}

.text1 h2 {
  font-size: 2.5em;
  color: #2c3e50;
  margin-bottom: 20px;
  font-weight: bold;
}

.text1 .presentation {
  font-size: 1.2em;
  color: #34495e;
  line-height: 1.5;
  margin: 10px 0;
  max-width: 100%;
}

.text1 .detail-presentatio {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6;
  max-width: 100%;
  margin: auto;
  opacity: 0.9;
}

#section2 .btn {
  margin-top: 20px;
}

#section2 .btn span {
  font-style: italic;
}


@media (max-width: 600px) {
  #section2 {
    padding: 20px 10px;
  }

  .text1 .title {
    font-size: 1.8em;
  }

  .text1 .presentation, .text1 .detail-presentatio {
    font-size: 1em;
  }
}

.gps-tracking {
  height: auto;
  background-color: #f9f9f9;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.section-title {
  font-size: 2em;
  color: #2c3e50;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.features-list, .pricing-list, .bonus-list {
  list-style-type: disc;
  margin: 20px 0;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-list li, .pricing-list li, .bonus-list li {
  font-size: 1.1em;
  color: #34495e;
  line-height: 1.5;
  margin: 10px 0;
}

.pricing-info {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

/*section5*/
.faq-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.faq-container h2 {
  margin-bottom: 25px;
  text-align: center;
  color: #333;
}

.faq-item {
  margin-bottom: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}

.faq-question {
  background-color: rgba(0, 123, 255, 0.8);
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.faq-question:hover {
  background-color: #0056b3;
}

.faq-answer {
  padding: 15px;
  background-color: #fff;
}

.faq-answer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
