<!-- footer.component.html -->
<footer class="footer">
  <div class="footer-content">
    <div class="links">
      <a (click)="handleApropos()">À propos</a>
    </div>
    <div class="social-media">
      <a href="https://www.facebook.com/yveswilsmart?mibextid=ZbWKwL" target="_blank" aria-label="Facebook">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://wa.me/653900250" target="_blank" aria-label="WhatsApp">
        <i class="bi bi-whatsapp"></i>
      </a>
      <a href="mailto:localservices61@gmail.com" class="email-button">
        <i class="bi bi-envelope"></i>
      </a>
    </div>
    <div class="contact">
      <h3>Téléphone :</h3>
      <span class="cameroun">Cameroun : <a href="tel:653900250">+237653900250</a></span>
      <span class="cote-ivoire">Côte d'ivoire :  <a href="tel:0701906478">+225 0701906478</a></span>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 LOCAL Service. Tous droits réservés.</p>
  </div>
</footer>
