<!-- footer.component.html -->
<footer class="footer">
  <div class="footer-content">
    <div class="links">
      <a (click)="handleApropos()">À propos</a>
    </div>
    <div class="social-media">
      <a href="https://facebook.com" target="_blank" aria-label="Facebook">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://wa.me/653900250" target="_blank" aria-label="WhatsApp">
        <i class="bi bi-whatsapp"></i>
      </a>
      <a href="https://instagram.com" target="_blank" aria-label="Instagram">
        <i class="bi bi-instagram"></i>
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 LOCAL Service. Tous droits réservés.</p>
  </div>
</footer>
